@use './vars';

.footer{
    position: relative;
    background-color:vars.$colorOffWhite ;
    padding: 4em;

    &::before{
        content: '';
        background-image: url('../../build/img/bg-pattern-footer-desktop.svg');
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__links{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__socialLinks{
        display: flex;
        gap: 1em;
        cursor: pointer;

        a:hover{
            filter: brightness(0) saturate(100%);
        }
    }

    &__divider{
        background-color: vars.$colorRaisinBlack;
        width: 100%;
        height: 1px;
        margin: 2em 0 3em;
    }

    &__othersLinks{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: auto;
        font-weight: bold;

        p{
            margin-bottom: 2em;
            text-transform: uppercase;
            color: vars.$colorDarkGrayishPurple;
        }

        ul li{
            margin-bottom: .8em;

            a{
                color:vars.$colorRaisinBlack ;
                text-transform: uppercase;
                cursor: pointer;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

}