@use '../vars';

.hero{
    background-color: vars.$colorDarkVioletBlue;
    height: 650px;
    position: relative;

    &__patternLeft{
        position: absolute;
        top: 75%;
        left: 0;
    }
    
    &__patternRight{
        position: absolute;
        top: 0;
        right: 0;
    }
    
    &__container{
        display: flex;
        // justify-content: space-between;
        align-items: center;
        gap: 3em;
    }

    &__container{
        flex-basis: 100%;
    }

    &__about{
        color: vars.$colorOffWhite;
        
        h1{
            @include vars.fontDmSerif(4.7em);
            max-width:700px;
            line-height: 0.8em;

            &::before{
                content: '';
                width: 150px;
                height: 1px;
                background-color: vars.$colorOffWhite;
                position: absolute;
                top: 16%;
            }
        }
        
        p{
            margin: 1.6em 0 3em;
            line-height: 1.5rem;
        }

        a{
            @include vars.btn(vars.$colorOffWhite);
            color: vars.$colorOffWhite;
            text-transform: uppercase;
            
            &:hover{
                background-color: vars.$colorBlack;
                border-color: vars.$colorBlack;
            }
        }
    }

    &__introImg{
        transform: translateY(15%);
    }
}




